{% extends "layout.html" %}

{% block body %}

<div class="row">

    <!-- QUICK LINKS BAR LHS -->
    <div class="col-0 col-sm-1 col-md-3"></div>
    
    <!-- MAIN PAGE CONTENT -->
    <div class="col-12 col-sm-10 col-md-6 mb-5 shadow">
      <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        
        <div class="py-2 mx-3 border-0 rounded">
            <p>LiveWell provides a summary of public health advice on key issues. Our principles and approach are set out below. </p>
        </div>
        <div class="alert alert-danger" role="alert">
          <strong>WARNING:</strong> This is a test site which has not been reviewed for accuracy. Please visit <a href='nhs.uk'>nhs.uk</a> for reliable advice. 
        </div>
    
        <hr class="mb-4 mx-3"/>

        <div class="px-3">
          
            <h4 class="pt-3">Principles</h4>
            <ul>
                <li class="pb-1">We use advice from recognised medical authorities.</li>
                <li class="pb-1">We are transparent about where advice comes from.  </li>
                <li class="pb-1">We are clear about whether there is disagreement on an issue. </li>
                <li class="pb-1">We prefer evidence-based recommendations. </li>
                <li class="pb-1">An absence of evidence doesn’t mean that something is beneficial or harmful. We recommend potentially beneficial activities with weaker evidence if there isn’t likely to be a harmful impact. The health benefits of mindfulness and meditation, for example, were hypothesised long before studies demonstrated benefits.</li>
            </ul>
            <p></p>
            <h4 class="pt-3">Who can we trust? </h4>
            <p>We think the least flawed sources of guidance are public health authorities and medical researchers. We say least flawed, because we know that there is still a huge amount that isn’t understood about the human body, and that health professionals have biases and make mistakes, just like anyone else. We see this reflected in changes in advice over time.</p>
            <p>There are good reasons to trust these authorities: they are generally transparent about the limits of their knowledge, professionals undertake extensive studies, the system has processes for review and challenge, and there are standards for how studies should be structured and run. This doesn’t mean that people outside don’t have valuable contributions to make, but we should be wary about advice which conflicts with advice from reputable sources. </p>

            <p>We use advice and research from the following sources: </p>
            
            <ul>
                <li class="pb-1">US Centers for Disease Control and Prevention</li>
                <li class="pb-1">UK National Health Service</li>
                <li class="pb-1">US National Academies Institute of Medicine</li>
                <li class="pb-1">Harvard TH Chan School of Public Health</li>
                <li class="pb-1">Cochrane Policy Institute</li>
                <li class="pb-1">UK National Institute for Healthcare Excellence</li>
                <li class="pb-1">Research journals like Nature, British Journal of Sports Medicine, Journal of Sleep Research</li>
            </ul>
            
            <h4 class="pt-3">Checklist for trust</h4>
            <p>The following checklist can help us to decide if advice is reliable:</p>
            <ul>
                <li class="pb-1">Does this person have any financial interest in their advice? Are they selling me something or are they paid by someone?</li>
                <li class="pb-1">Does this person know what they are talking about? How do I know that they have relevant expertise?</li>
                <li class="pb-1">Can I find the same advice from my public health authority? If not, why not? </li>
                <li class="pb-1">Does the advice go against the consensus or do other experts disagree? Why am I confident that I can pick between them? Have I spent as much time understanding the more established advice? </li>
                <li class="pb-1">Does the advice have a track record? Have people being doing it for a long time or is it a new fad? </li>
                <li class="pb-1">Does the advice talk about any uncertainty or nuance or is it promising easy solutions? </li>
                <li class="pb-1">Is there a way for the advice to be challenged or scrutinised? </li>
                <li class="pb-1">Have they shown their methodology somewhere? How do I know that the methodology is robust? Was it approved by an institution like a university or am I just taking one person’s word? </li>
                <li class="pb-1">How many people have been studied, is it a representative sample, what does the research say about its limitations? </li>
            </ul>

        </div> 
      </div>
    </div>
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  {% endblock %}