{% extends "layout.html" %}

{% block body %}

<div class="row">

  <!-- QUICK LINKS BAR LHS -->
  <div class="col-0 col-sm-1 col-md-3">
    <div id="simple-list-example" class="d-none d-md-flex flex-row-reverse flex-column me-5 text-left">
      <div>  
        <h5 class="mb-3">Quick Links:</h5>
        <div id="nav_items">
          <!-- populated by js -->
        </div>
      </div> 
    </div>
  </div>
  
  <!-- MAIN PAGE CONTENT -->
  <div class="col-12 col-sm-10 col-md-6 mb-5 shadow">
    <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
      
      <div class="py-2 mx-3 border-0 rounded">
          <p>LiveWell is a summary of health advice. Unlike many sources, which are fragmented or focussed on new trends, we summarise the current evidence in one place. </p>
          <p>This advice may not apply to children, people with underlying medical conditions or people who are pregnant or breastfeeding.</p>
      </div>
      <div class="alert alert-danger" role="alert">
        <strong>WARNING:</strong> This is a test site which has not been reviewed for accuracy. Please visit <a href='nhs.uk'>nhs.uk</a> for reliable advice. 
      </div>
  
      <hr class="mb-4 mx-3"/>
      <div class="d-flex flex-row mx-3">
        <h5 class="p-1 me-3">Filters:</h5>


        <div class="dropdown me-2">
          <button type="button" class="btn btn-sm btn-light border-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Category
          </button>
          <form class="dropdown-menu p-2">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input categorySelector" type="checkbox" value="Food and drink" checked>
              <label class="custom-control-label" for="cat_food">Food and drink</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input categorySelector" type="checkbox" value="Mind" checked>
              <label class="custom-control-label" for="cat_mind">Mind</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input categorySelector" type="checkbox" value="Appearance" checked>
              <label class="custom-control-label" for="cat_appear">Appearance</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input categorySelector" type="checkbox" value="Body" checked>
              <label class="custom-control-label" for="cat_body">Body</label>
            </div>
          </form>
        </div>



        <div class="dropdown me-2">
          <button type="button" class="btn btn-sm btn-light border-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Advice
          </button>
          <form class="dropdown-menu p-2">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input assessSelector" type="checkbox" value="Essential" checked>
              <label class="custom-control-label" for="assess_do_it">Essential</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input assessSelector" type="checkbox" value="Try to do it" checked>
              <label class="custom-control-label" for="assess_do_it">Try to do it</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input assessSelector" type="checkbox" value="Can't hurt" checked>
              <label class="custom-control-label" for="assess_cant_hurt">Can't hurt</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input assessSelector" type="checkbox" value="Probably fine" checked>
              <label class="custom-control-label" for="assess_cant_hurt">Probably fine</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input assessSelector" type="checkbox" value="Waste of time" checked>
              <label class="custom-control-label" for="assess_waste">Waste of time</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input assessSelector" type="checkbox" value="Bad for you" checked>
              <label class="custom-control-label" for="assess_worse">Bad for you</label>
            </div>
          </form>
        </div>

        <div>
          <button type="submit" onclick="filter_list();" class="btn btn-sm btn-success"><i class="bi bi-funnel-fill"></i></button>
        </div>
      </div> 
      


      <hr class="mb-2 mx-3"/>
    
      <div id="main_content">
        <!-- populated by js -->
      </div> 
    </div>
  </div>

</div>











{% endblock %}